{% extends 'base.html.twig' %}

{% block title %}Accomodation index{% endblock %}

{% block body %}
    <h1>Accomodation index</h1>

    <table class="table">
        <thead>
            <tr>
<th>Type d'habitation</th>


                <th>Description</th>
<th>Nombre de chambres</th>
<th>Disponible</th>
<th>Image</th>
<th>Taille</th>
<th>Prix</th>
<th>Action</th>


            </tr>
        </thead>
        <tbody>
        {% for accomodation in accomodations %}
<tr></tr>


                <td>{{ accomodation.title }}</td>
                <td>{{ accomodation.description }}</td>
                <td>{{ accomodation.nbreBedrooms }}</td>
                <td>{{ accomodation.isAvaliable ? 'Yes' : 'No' }}</td>
                <td>{{ accomodation.imagePath }}</td>
                <td>{{ accomodation.Size }}</td>
<td>{{ accomodation.tarifications ? accomodation.tarifications.price : 'Non défini' }}</td>


                <td>
                    <a href="{{ path('app_accomodation_show', {'id': accomodation.id}) }}">show</a>
<a href="{{ path('app_booking_reserver', {'id': accomodation.id}) }}">Réserver</a>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('app_accomodation_new') }}">Create new</a>
{% endif %}

{% endblock %}
