{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <div class ="acceuil h1" >
        <h1>bonjour {{ username }}, bienvenue sur {{ title }}</h1>
    </div>

    <div class ="card">
        <h2 class="card-Titre"> Nous vous proposons: {{title_accommodation}}</h2>
        <h3 class="card-description"> Description du bien: {{description}}</h3>
        <h3 class="card-prix"> Prix: {{price_tarification}} € pour une nuit</h3>
        <h3 class="card-capacite"> Capacité: {{size}} personnes</h3>
        <a href="{{ path('app_accomodation_show', {'id': accomodation_id}) }}" class="btn btn-primary">Voir plus</a>
    </div>



{% endblock %}
