<div class="hebergement_card">
	<img src="{{ asset('CSS/Images/Hebergements/' ~ hebergement.image) }}" alt="Image de l'hebergement">
	<div class="hebergement_card_info">
		<h2 class="hebergement-title">
			{{hebergement.nom}}
		</h2>
		<div class="hebergement_card_info_details">
			<p class="hebergement_card_detail">
				{{hebergement.description}}
			</p>
			<p class="hebergement_card_prix">
				{{hebergement.prix}}
				€
			</p>
			<p class="hebergement_card_superficie">
				{{hebergement.superficie}}
				m²
			</p>
			<p class="hebergement_card_adresse">
				{{hebergement.adresse}}
			</p>
			<p class="hebergement_card_types">
				{{hebergement.types}}
			</p>
			<p class="hebergement_card_equipement">
				{{hebergement.equipement}}
			</p>
		</div>
	</div>

</div>

