<nav>
    <ul>
<li>
	<a href="{{ path('app_home') }}" class="{% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">Accueil</a>
</li>

<li>
	<a href="{{ path('app_booking_index') }}" class="{% if app.request.attributes.get('_route') == 'reservation' %}active{% endif %}">Réservation</a>
</li>


        <li><a href="{{ path('app_login') }}"> Login</a></li>


        {% if app.user %}
            <li><a href="{{ path('app_user_index') }}" class="{% if app.request.attributes.get('_route') == 'profile' %}active{% endif %}">Profil</a></li>
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
        
        {% endif %}
    </ul>
</nav>


