{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Date_start</th>
                <td>{{ booking.dateStart ? booking.dateStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_end</th>
                <td>{{ booking.dateEnd ? booking.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nbre_adults</th>
                <td>{{ booking.nbreAdults }}</td>
            </tr>
            <tr>
                <th>Nbre_childrens</th>
                <td>{{ booking.nbreChildrens }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('app_booking_index') }}">Retoourner à la liste des réservations</a>
<a href="{{ path('app_booking_clossing', {'id': booking.id}) }}">Réserver</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
